// Variables
$darkest : #2D3C41;
$white : #fff;
$headerBackground: rgba(0, 0, 0, 0.75);
$headerGrey: grey;
$linkWhite: #fff;
$footerBackground: #18252d;
$footerTextColor: #c3c0c0;
$baseBackground: #F0F0F0;
$sectionHeaderColor: #5C7685;
$buttonBlue: #0796CE;
$aboutUsText: #ededed;
$projectBanner: #ef5d5e;
$csHeadingColor: #ef5d5e;
$tagBanner: #5c7685;
$lightBlue: #D1E7F3;
$textRed: #ef5d5e;
$landingPathSubHeading: #b17c43;
$landingPathHeading:#3f3f3f; 
$darkestGrey: #1e292d;

:root {
  /* Colors */
  --primary: #00AEEF;
  --secondary: #b54d4e;
  --border: #07BAFF;
  --lite: #2BC2FC;
  --litest: #FCFAFA;
  --dark: #0078A6;
  --darkest: #2b3643;
  --white: #fff;
  --black: #000;
  --grey : #BCBDC0;
}
