
@import "../../styles/fonts";

.dashboardCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
  align-items: center;
  .icon{
    font-size: 3rem;
  }
  .count{
    font-size: 2rem;
    color: #aba6a6;
  }
}

.statsWithProgressBar{
  .header{
    font-family: $sourcesans;
    .headerNum{
      font-size: 1.3rem;
    }
    .statsHeaderTitle{
      text-transform: uppercase;
      letter-spacing: 0;
      margin-left: 0.5rem;
      color: #828282;
    }
  }
}